<html>
    <head>
        <title>Django girls dalublog</title>
    </head>
    <body>

    <div>
        <h1><a href="/">Django Girls - Simo Blog</a></h1>
        <h6><a href="/admin"><i>Go to Admin page</i></a></h6>
    </div>

    {% for post in posts%}
        <div>
            <h1>{{ post.title }}</h1>
            <p>{{post.text|linebreaksbr}}</p>
            <br/>
            <strong><i>{{post.author}}</i></strong>
            <p>Created: {{post.created_date}}</p>
            <p>Published: {{post.published_date}}</p>
        </div>
    {% endfor %}
    
    </body>
</html>